.user-form-container {
  max-width: 1000px;
  margin: 40px auto;
}

input::placeholder {
  font-style: italic;
}
.user-form-container input,
.user-form-container select,
.user-form-container .form-check-input {
  height: 50px;
  font-size: 1.1rem;
}

.user-form-container label {
  font-weight: 500;
  font-size: 1.05rem;
}

.user-form-container .btn {
  font-size: 1.2rem;
  padding: 12px 24px;
}
.bank-logo {
  height: 80px;
  object-fit: contain;
}
