.navbar-custom {
  background-color: #1e40af; /* Blue shade */
  padding: 1rem;
}

.navbar-custom .nav-link {
  color: #ffffff; /* White text for contrast */
  font-weight: bold;
}

.custom-navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  height: 60px;
}
